@using AvatarBabylon.Web.Models
@model HomeModel
@{
    ViewData["Title"] = "Pagina inicial";
}
<style>
    /*body,
    #canvasAvatar {
        width: 1500px !important;
        height: 820px !important;
    }*/
</style>

<h2 class="mb-3">Pacientes</h2>
<table class="table table-striped">
			<tr>
				<td>Nome</td>
				<td>Data de nascimento</td>
				<td>Altura (cm)</td>
				<td>Peso (kg)</td>
				<td></td>
			</tr>
			@foreach(PacienteModel paciente in Model.Pacientes)
			{
				<tr>
					<td>@paciente.Nome</td>
					<td>@paciente.DataNascimento.ToString("dd/MM/yyyy")</td>
					<td>@paciente.Altura</td>
					<td>@paciente.Peso</td>
					<td> <a data-bs-toggle="tooltip" title="Visualizar avatar" href="@Url.Action("Index", "VisualizarPaciente")?id=@paciente.Id"><i class="fas fa-eye"></i> </a> </td>
				</tr>
			}
		</table>